@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
    height: 80px;
    color: #fff;
    padding: 5px;
}

#user {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    /* letter-spacing: 10px; */
    text-align: right;
    margin-right: 7rem;
    margin-top: -20px;

}

#user .username {
    margin-right: 30px;
}

h1 img {
    position: relative;
    width: 8%;
    height: 8%;
    margin-top: 20px;
    margin-left: 20px;


}

#user img {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 50px;
    height: 50px;

}


/* アコーディオンメニュー */
.accordion-icon {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    width: 1em;
    height: 1em;
    border: 3px solid #fff;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
}

.accordion-icon.active {
    transform: translateY(-25%) rotate(315deg);
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    color: #fff;
}

.accordion-content {
    position: absolute;
    right: 0;
    margin: 2em;
    display: none;
}

.accordion-content.active {
    display: block;
    background-color: #fff;
}

ul {
    display: block;
    width: 14rem;
    height: 20rem;
    background-color: #fff;
    border: solid 5px #666;

}

ul li {
    padding: 35px;
    text-align: center;
    align-items: center;
}

ul li a {
    display: block;
    cursor: pointer;
    color: #727272;
    font-size: 1.25rem;
    height: 40px;


}

.accordion-content :nth-child(2) {
    background-color: #00f
}

.accordion-content :nth-child(2) a {
    color: #fff;
}


/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* トップページ */
.create-post {
    padding: 20px;
}

.text {
    width: 70%;
    height: 10rem;

}

.post-box {
    background-color: #fff;
    border: #727272 solid 5px;
    height: 7rem;
}

.send-icon img {
    display: inline-block;
    width: 3rem;
    border-radius: 20%;
}

table .post {
    display: flex;
    flex-wrap: nowrap;
}

/* 編集ボタン  */
.edit-icon img {
    width: 3rem;
}


.edit-modal {
    display: none;
    position: fixed;
    background-color: #fff;
    width: 60%;

}

.modal-form {
    border: none;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    border: none;
}

.edit-modal-icon {
    background-color: aqua;
}






/* 削除ボタン */
button {
    border: none;
    background-color: #fff;
}

.delete-icon img {
    border-radius: 20%;
}

.delete-icon img::after {}

button:hover {
    olor: #ff0000;

}

.delete-icon img {
    width: 3rem;
}


/* 検索ページ */
.search-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 20px;
}

.search-box {
    height: 2.5rem;
    width: 15rem;
    border: #666 solid 2px;
    border-radius: 3px;
}

.search-icon {
    display: inline-block;
    background-color: #186AC9;
    border-radius: 20%;
}

.bi-search {
    color: #fff;
}

.post {}

/* プロフィール編集 */
.edit-pro {
    align-items: center;
    font-family: 'Cherry Bomb One', cursive;
    font-family: 'Monomaniac One', sans-serif;
    font-family: 'Sawarabi Mincho', serif;
}

.edit-pro-form {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 60px;
}

.edit-pro-form input {
    border: 2px solid #cc99ff;
    margin-bottom: 20px;
}
